<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <style>
        img {
            width: 100px; height: 100px; border-radius: 50px;
        }
    </style>
<% results.forEach(function (item) { %>

<h1><%= message %></h1><br><br>
<table>
    <!-- <tr>
        <th>iD GAME</th>
        <th>titre</th>
        <th>studio Dev</th>
        <th>Heure terminer</th>
        <th>image</th>
        <th>taille</th>
        <th>date de sortie</th>
    </tr> -->
        <tr>
      
            <td><img src="<%= item.image %>"></td>
            <!-- <td><%= item.taille %> G</td>
            <td><%= item.date_sortie %></td> -->

        </tr>
    <% }) %>
</table>
 

  <script>
    // on récupère les données de l'utilisateur à enregistrer dans le cache
    let user = <%- JSON.stringify(storage) %>;
    // on les envoie dans le session storage
    sessionStorage.setItem('loggedIn', JSON.stringify(user));    
  </script>
</body>
</html>